html{
    font-size: 62.5%;
}

#titulo{
    font-size: 7.2em;
    margin-left: 1em;
    margin-right: 3em;
    padding-bottom: 5em;
    border-bottom-width: 0.6em;
    border-bottom-style: solid;
}

.subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.6em;
    margin-left: 1em;
}

.minititulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.2em;
    margin-left: 1em;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4em;
    text-align: justify;
    list-style-type: circle;
    list-style-position: inside;
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.4em;
    text-align: justify;
    margin-left: 5em;
    margin-right: 5em;
}
.paragrafo_grande{
    padding: em;
    box-sizing: content-box;
}


a:link{
    color:#0645AD;
}
a:visited{
    color:#0B0080;
}
a:hover{
    background-color:#772233;
}
a:active{
    background-color:#FF0000;
}